[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
chardet = "*"
click = "*"
idna = "*"
metar = "*"
mpmath = "*"
natsort = "*"
requests = "*"
"urllib3" = "*"
elib = "*"
ujson = "*"
pathvalidate = "*"
python-dateutil = "*"
dataclasses = "*"
xmltodict = "*"

[dev-packages]
pip = ">=18"
pytest-vcr = "*"
epab = "*"
datadiff = "*"
pytz = "*"
