certifi==2017.7.27.1      # via requests
chardet==3.0.4            # via requests
click==6.7
idna==2.6                 # via requests
metar==1.5.0
mpmath==1.0.0
natsort==5.1.0
requests==2.18.4
urllib3==1.22             # via requests
