-i https://pypi.python.org/simple/
certifi==2018.10.15
chardet==3.0.4
click==7.0
configobj==5.0.6
dataclasses==0.6
delegator.py==0.1.1
elib==2018.10.1.1
everett==1.0.3
future==0.18.2
gitdb==4.0.6
gitpython==3.1.14
gtts==2.2.2
humanize==3.3.0
idna==2.7
metar==1.6.0
mpmath==1.0.0
natsort==5.5.0
packaging==20.9
pathvalidate==0.21.3
pefile==2019.4.18
pexpect==4.8.0
ptyprocess==0.7.0
pyparsing==2.4.7
python-dateutil==2.7.5
pyyaml==5.4
raven==6.10.0
requests==2.20.1
six==1.15.0
smmap==3.0.5
tqdm==4.59.0
ujson==1.35
urllib3==1.24.1
xmltodict==0.11.0
