beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
configobj==5.0.6
dataclasses==0.7
delegator.py==0.1.1
elib==2018.11.22.1
everett==1.0.2
future==0.18.2
gitdb2==4.0.1
gitpython==3.1.3
gtts-token==1.1.3
gtts==2.1.1
humanize==2.4.0
idna==2.10
metar==1.7.0
mpmath==1.1.0
natsort==7.0.1
packaging==20.4
pathvalidate==2.3.0
pefile==2019.4.18
pexpect==4.8.0
ptyprocess==0.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
pyyaml==5.3.1
raven==6.10.0
requests==2.24.0
six==1.15.0
smmap2==3.0.0
tqdm==4.46.1
ujson==5.2.0
urllib3==1.25.9
xmltodict==0.12.0