interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://avwx.rest/api/metar/LFPG?options=info%2Cspeech%2Csummary%2Ctranslate&format=json&onfail=cache
  response:
    body: {string: '{"Altimeter":"1024","Cloud-List":[],"Dewpoint":"07","Flight-Rules":"VFR","Info":{"City":"Paris","Country":"FRA","Elevation":119.0,"Iata":"CDG","Icao":"LFPG","Latitude":49.01527778,"Longitude":2.534444444,"Name":"Paris-Charles
        de Gaulle Airport","Priority":6,"State":"J"},"Meta":{"Cache-Timestamp":"Sat,
        15 Sep 2018 18:05:17 GMT","Timestamp":"Sat, 15 Sep 2018 18:07:14 GMT"},"Other-List":[],"Raw-Report":"LFPG
        151800Z 06003KT 010V110 CAVOK 20/07 Q1024 NOSIG","Remarks":"NOSIG","Remarks-Info":{"Dew-Decimal":"","Temp-Decimal":""},"Runway-Vis-List":[],"Sanitized":"LFPG
        151800Z 06003KT 010V110 CAVOK 20/07 Q1024 NOSIG","Speech":"Winds zero six
        zero (variable zero one zero to one one zero) at 3kt. Visibility one zero
        kilometers. Temperature two zero degrees Celsius. Dew point seven degrees
        Celsius. Altimeter one zero two four. Sky clear","Station":"LFPG","Summary":"Winds
        ENE-060 (variable 010 to 110) at 3kt, Vis 10km, Temp 20\u00b0C, Dew 7\u00b0C,
        Alt 1024 hPa, Sky clear","Temperature":"20","Time":"151800Z","Translate":{"Altimeter":"1024
        hPa (30.24 inHg)","Cloud-List":"Sky clear","Dewpoint":"7\u00b0C (45\u00b0F)","Other-List":"","Remarks":{},"Temperature":"20\u00b0C
        (68\u00b0F)","Visibility":"10km (6.2sm)","Wind":"ENE-060 (variable 010 to
        110) at 3kt"},"Units":{"Altimeter":"hPa","Altitude":"ft","Temperature":"C","Visibility":"m","Wind-Speed":"kt"},"Visibility":"CAVOK","Wind-Direction":"060","Wind-Gust":"","Wind-Speed":"03","Wind-Variable-Dir":["010","110"]}

'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
