interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://avwx.rest/api/metar/KJFK?options=info%2Cspeech%2Csummary%2Ctranslate
  response:
    body: {string: "{\n  \"Altimeter\": \"2992\", \n  \"Cloud-List\": [\n    [\n      \"FEW\",
        \n      \"011\"\n    ], \n    [\n      \"OVC\", \n      \"033\"\n    ]\n  ],
        \n  \"Dewpoint\": \"21\", \n  \"Flight-Rules\": \"VFR\", \n  \"Info\": {\n
        \   \"City\": \"New York City\", \n    \"Country\": \"USA\", \n    \"Elevation\":
        \"4.3\", \n    \"IATA\": \"JFK\", \n    \"ICAO\": \"KJFK\", \n    \"Latitude\":
        \"40.63975111\", \n    \"Longitude\": \"-73.77892556\", \n    \"Name\": \"John
        F Kennedy International Airport\", \n    \"Priority\": \"1\", \n    \"State\":
        \"NY\"\n  }, \n  \"Meta\": {\n    \"Cache-Timestamp\": \"Wed, 22 Aug 2018
        03:11:04 GMT\", \n    \"Timestamp\": \"Wed, 22 Aug 2018 03:11:04 GMT\"\n  },
        \n  \"Other-List\": [], \n  \"Raw-Report\": \"KJFK 220251Z 12009KT 10SM FEW011
        OVC033 23/21 A2992 RMK AO2 SLP132 T02280211 58018\", \n  \"Remarks\": \"RMK
        AO2 SLP132 T02280211 58018\", \n  \"Remarks-Info\": {\n    \"Dew-Decimal\":
        \"21.1\", \n    \"Temp-Decimal\": \"22.8\"\n  }, \n  \"Runway-Vis-List\":
        [], \n  \"Speech\": \"Winds one two zero at 9kt. Visibility one zero miles.
        Temperature two three degrees Celsius. Dew point two one degrees Celsius.
        Altimeter two nine point nine two. Few clouds at 1100ft. Overcast layer at
        3300ft\", \n  \"Station\": \"KJFK\", \n  \"Summary\": \"Winds ESE-120 at 09kt,
        Vis 10sm, Temp 23C, Dew 21C, Alt 29.92inHg, Few clouds at 1100ft, Overcast
        layer at 3300ft\", \n  \"Temperature\": \"23\", \n  \"Time\": \"220251Z\",
        \n  \"Translations\": {\n    \"Altimeter\": \"29.92inHg (1013hPa)\", \n    \"Clouds\":
        \"Few clouds at 1100ft, Overcast layer at 3300ft - Reported AGL\", \n    \"Dewpoint\":
        \"21C (70F)\", \n    \"Other\": \"\", \n    \"Remarks\": {\n      \"58018\":
        \"3-hour pressure difference: +/- 1.8 mb - Steady or increasing, then decreasing\",
        \n      \"AO2\": \"Automated with precipitation sensor\", \n      \"SLP132\":
        \"Sea level pressure: 1013.2 hPa\", \n      \"T02280211\": \"Temperature 22.8\\u00b0C
        and dewpoint 21.1\\u00b0C\"\n    }, \n    \"Temperature\": \"23C (73F)\",
        \n    \"Visibility\": \"10sm (16.1km)\", \n    \"Wind\": \"ESE-120 at 09kt\"\n
        \ }, \n  \"Units\": {\n    \"Altimeter\": \"inHg\", \n    \"Altitude\": \"ft\",
        \n    \"Temperature\": \"C\", \n    \"Visibility\": \"sm\", \n    \"Wind-Speed\":
        \"kt\"\n  }, \n  \"Visibility\": \"10\", \n  \"Wind-Direction\": \"120\",
        \n  \"Wind-Gust\": \"\", \n  \"Wind-Speed\": \"09\", \n  \"Wind-Variable-Dir\":
        []\n}\n"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
