interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://avwx.rest/api/metar/URSS?options=info%2Cspeech%2Csummary%2Ctranslate&format=json&onfail=cache
  response:
    body: {string: '{"Altimeter":"1014","Cloud-List":[["FEW","026"],["BKN","072"]],"Dewpoint":"19","Flight-Rules":"VFR","Info":{"City":"Sochi","Country":"RUS","Elevation":27.0,"Iata":"AER","Icao":"URSS","Latitude":43.4333,"Longitude":39.9333,"Name":"Airport","Priority":6,"State":"KDA"},"Meta":{"Cache-Timestamp":"Sat,
        15 Sep 2018 18:07:15 GMT","Timestamp":"Sat, 15 Sep 2018 18:07:15 GMT"},"Other-List":[],"Raw-Report":"URSS
        151730Z 05002MPS 9999 FEW026 BKN072 21/19 Q1014 WS ALL RWY R02/090070 R06/090070
        NOSIG RMK R06/09003MPS MT OBSC QFE759","Remarks":"WS ALL RWY R02/090070 R06/090070
        NOSIG RMK R06/09003MPS MT OBSC QFE759","Remarks-Info":{"Dew-Decimal":"","Temp-Decimal":""},"Runway-Vis-List":[],"Sanitized":"URSS
        151730Z 05002MPS 9999 FEW026 BKN072 21/19 Q1014 WS ALL RWY R02/090070 R06/090070
        NOSIG RMK R06/09003MPS MT OBSC QFE759","Speech":"Winds zero five zero at 2m/s.
        Visibility one zero kilometers. Temperature two one degrees Celsius. Dew point
        one nine degrees Celsius. Altimeter one zero one four. Few clouds at 2600ft.
        Broken layer at 7200ft","Station":"URSS","Summary":"Winds NE-050 at 2m/s,
        Vis 10km, Temp 21\u00b0C, Dew 19\u00b0C, Alt 1014 hPa, Few clouds at 2600ft,
        Broken layer at 7200ft","Temperature":"21","Time":"151730Z","Translate":{"Altimeter":"1014
        hPa (29.94 inHg)","Cloud-List":"Few clouds at 2600ft, Broken layer at 7200ft
        - Reported AGL","Dewpoint":"19\u00b0C (66\u00b0F)","Other-List":"","Remarks":{},"Temperature":"21\u00b0C
        (70\u00b0F)","Visibility":"10km (6.2sm)","Wind":"NE-050 at 2m/s"},"Units":{"Altimeter":"hPa","Altitude":"ft","Temperature":"C","Visibility":"m","Wind-Speed":"m/s"},"Visibility":"9999","Wind-Direction":"050","Wind-Gust":"","Wind-Speed":"02","Wind-Variable-Dir":[]}

'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
