interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://avwx.rest/api/metar/LFPG?options=info%2Cspeech%2Csummary%2Ctranslate
  response:
    body: {string: "{\n  \"Altimeter\": \"1021\", \n  \"Cloud-List\": [\n    [\n      \"FEW\",
        \n      \"023\"\n    ], \n    [\n      \"BKN\", \n      \"046\"\n    ]\n  ],
        \n  \"Dewpoint\": \"16\", \n  \"Flight-Rules\": \"VFR\", \n  \"Info\": {\n
        \   \"City\": \"Paris\", \n    \"Country\": \"FRA\", \n    \"Elevation\":
        \"119\", \n    \"IATA\": \"CDG\", \n    \"ICAO\": \"LFPG\", \n    \"Latitude\":
        \"49.01527778\", \n    \"Longitude\": \"2.534444444\", \n    \"Name\": \"Paris-Charles
        de Gaulle Airport\", \n    \"Priority\": \"6\", \n    \"State\": \"J\"\n  },
        \n  \"Meta\": {\n    \"Cache-Timestamp\": \"Tue, 21 Aug 2018 07:29:33 GMT\",
        \n    \"Timestamp\": \"Tue, 21 Aug 2018 07:29:33 GMT\"\n  }, \n  \"Other-List\":
        [], \n  \"Raw-Report\": \"LFPG 210530Z 01004KT 350V140 9999 FEW023 BKN046
        19/16 Q1021 NOSIG\", \n  \"Remarks\": \"NOSIG\", \n  \"Remarks-Info\": {},
        \n  \"Runway-Vis-List\": [], \n  \"Speech\": \"Winds zero one zero (variable
        three five zero to one four zero) at 4kt. Visibility one zero kilometers.
        Temperature one nine degrees Celsius. Dew point one six degrees Celsius. Altimeter
        one zero two one. Few clouds at 2300ft. Broken layer at 4600ft\", \n  \"Station\":
        \"LFPG\", \n  \"Summary\": \"Winds N-010 (variable 350 to 140) at 04kt, Vis
        10km, Temp 19C, Dew 16C, Alt 1021hPa, Few clouds at 2300ft, Broken layer at
        4600ft\", \n  \"Temperature\": \"19\", \n  \"Time\": \"210530Z\", \n  \"Translations\":
        {\n    \"Altimeter\": \"1021hPa (30.15inHg)\", \n    \"Clouds\": \"Few clouds
        at 2300ft, Broken layer at 4600ft - Reported AGL\", \n    \"Dewpoint\": \"16C
        (61F)\", \n    \"Other\": \"\", \n    \"Remarks\": {}, \n    \"Temperature\":
        \"19C (66F)\", \n    \"Visibility\": \"10km (6.2sm)\", \n    \"Wind\": \"N-010
        (variable 350 to 140) at 04kt\"\n  }, \n  \"Units\": {\n    \"Altimeter\":
        \"hPa\", \n    \"Altitude\": \"ft\", \n    \"Temperature\": \"C\", \n    \"Visibility\":
        \"m\", \n    \"Wind-Speed\": \"kt\"\n  }, \n  \"Visibility\": \"9999\", \n
        \ \"Wind-Direction\": \"010\", \n  \"Wind-Gust\": \"\", \n  \"Wind-Speed\":
        \"04\", \n  \"Wind-Variable-Dir\": [\n    \"350\", \n    \"140\"\n  ]\n}\n"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
