interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://avwx.rest/api/parse/metar?report=KJFK+241051Z+35007KT+10SM+SCT200+BKN250+03%2FM02+A3016+RMK+AO2+SLP211+T00281017&options=info%2Cspeech%2Csummary
  response:
    body: {string: '{"error":"value is not allowed","help":"Weather report type (metar,
        taf)","param":"report_type"}

'}
    headers:
      Content-Type: [application/json]
    status: {code: 400, message: BAD REQUEST}
[...]
- request:
    body: KJFK 241051Z 35007KT 10SM SCT200 BKN250 03/M02 A3016 RMK AO2 SLP211 T00281017
    headers:
    method: POST
    uri: http://avwx.rest/api/metar/parse?options=info%2Cspeech%2Csummary
  response:
    body: {string: '{"altimeter":{"repr":"3016","spoken":"three zero point one six","value":30.16},"clouds":[{"altitude":200,"modifier":null,"repr":"SCT200","type":"SCT"},{"altitude":250,"modifier":null,"repr":"BKN250","type":"BKN"}],"dewpoint":{"repr":"M02","spoken":"minus
        two","value":-2},"flight_rules":"VFR","info":{"city":"New York City","country":"USA","elevation":4.3,"iata":"JFK","icao":"KJFK","latitude":40.63975111,"longitude":-73.77892556,"name":"John
        F Kennedy International Airport","priority":1,"state":"NY"},"meta":{"timestamp":"Sat,
        15 Sep 2018 18:28:20 GMT"},"other":[],"raw":"KJFK 241051Z 35007KT 10SM SCT200
        BKN250 03/M02 A3016 RMK AO2 SLP211 T00281017","remarks":"RMK AO2 SLP211 T00281017","remarks_info":{"dewpoint_decimal":{"repr":"-1.7","spoken":"minus
        one point seven","value":-1.7},"temperature_decimal":{"repr":"2.8","spoken":"two
        point eight","value":2.8}},"runway_visibility":[],"sanitized":"KJFK 241051Z
        35007KT 10SM SCT200 BKN250 03/M02 A3016 RMK AO2 SLP211 T00281017","speech":"Winds
        three five zero at 7kt. Visibility one zero miles. Temperature three degrees
        Celsius. Dew point minus two degrees Celsius. Altimeter three zero point one
        six. Scattered clouds at 20000ft. Broken layer at 25000ft","station":"KJFK","summary":"Winds
        N-350 at 7kt, Vis 10sm, Temp 3\u00b0C, Dew -2\u00b0C, Alt 30.16 inHg, Scattered
        clouds at 20000ft, Broken layer at 25000ft","temperature":{"repr":"03","spoken":"three","value":3},"time":{"dt":"Fri,
        24 Aug 2018 10:51:00 GMT","repr":"241051Z"},"visibility":{"repr":"10","spoken":"one
        zero","value":10},"wind_direction":{"repr":"350","spoken":"three five zero","value":350},"wind_gust":null,"wind_speed":{"repr":"07","spoken":"seven","value":7},"wind_variable_direction":[]}

'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
